attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1617882728604/work
certifi==2020.12.5
click==7.1.2
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1605902088619/work
Fiona==1.8.19
GDAL==3.2.2
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1614589434390/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1610127590546/work
munch==2.5.0
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1616933154495/work
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.4
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1617818070330/work
pyparsing==2.4.7
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1614934915356/work
python-dateutil==2.8.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
PyYAML==5.4.1
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1610147140492/work
Shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1613142332068/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1610094708661/work
typing-extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1602702424206/work
